#set ($has_text = false)
    <div id="footer">
     <div class="container-fluid">
<script>
function download(link){
	window.open("${rdf_link}?output="+$('#format').val()+"&crs="+$('#crs').val(),'_blank');
}
</script>
#if ($rdf_link)
<b>Download Options:</b>&nsbp;Format:<select id="format">		
      <option value="csv">Comma Separated Values (CSV)</option>
      <option value="geojson">(Geo)JSON</option>
      <option value="json">JSON-LD</option>
      <option value="hextuples">HexTuples RDF</option>
      <option value="n3">Notation3 (N3)</option>
      <option value="nq">NQuads (NQ)</option>
      <option value="nt">NTriples (NT)</option>
      <option value="rdfjson">RDF/JSON</option>
      <option value="rt">RDF/Thrift (RT)</option>
      <option value="xml">RDF/XML</option>
      <option value="ttl">Turtle (TTL)</option>
      <option value="trig">RDF TriG</option>
      <option value="trix">Triples in XML (TriX)</option>
      #if (!$geoms.isEmpty())
        <option value="gml">Geography Markup Language (GML)</option>
        <option value="googlemapslink">Google Maps Link</option>
        <option value="gpx">GPS Exchange Format (GPX)</option>
      	<option value="geouri">GeoURI</option>
       	<option value="kml">Keyhole Markup Language (KML)</option>
    	<option value="latlontext">LatLonText</option>
        <option value="mapml">Map Markup Language (MapML)</option>
        <option value="osmlink">OSM Link</option>
        <option value="osm">OSM/XML (OSM)</option>
        <option value="svg">Scalable Vector Graphics (SVG)</option>
        <option value="topojson">TopoJSON</option>
        <option value="wkb">Well-Known-Binary (WKB)</option>
        <option value="wkt">Well-Known-Text (WKT)</option>
      #end
</select>
CRS:<select id="crs"></select><button id="downloadButton" onclick="download()">Download</button><br/>
#end
</div>
    </div>

<script> $.ajax({url:'${server_base}static/epsg.txt',success: function (data){$('#crs').html(data); $('#crs').val(epsg);}});</script>
  </body>
</html>
