<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
   <meta charset="UTF-8">
    <title>
#if ($head_title)
      $head_title
#else
      $title
#end
#if ($project_name)
      | $project_name
#end
    </title>
#if ($rdf_link)
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
#end
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="${server_base}static/style.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.min.js"></script>
    <script type="text/javascript" src="${server_base}static/epsg.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.6/wicket.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/jstree.min.js"></script>
    <script src="${server_base}static/d3sparql.js"></script>
  <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 40px 0;
      .search {
    	z-index: 9999999 !important;
		}
     </style>
  <script>
  var ttlprefixList="@prefix wd: <http://www.wikidata.org/entity/> . \n @prefix foaf: <http://xmlns.com/foaf/0.1/> . \n @prefix owl: <http://www.w3.org/2002/07/owl#> . \n @prefix geo: <http://www.opengis.net/ont/geosparql#> . \n @prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> . \n @prefix xml: <http://www.w3.org/XML/1998/namespace> . \n @prefix xsd: <http://www.w3.org/2001/XMLSchema#> . \n @prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> . \n @prefix kml: <http://www.opengis.net/kml/2.2#> . \n @prefix gml: <http://www.opengis.net/gml/3.2#> . \n @prefix xplan5: <http://www.xplanung.de/xplangml/5/0#> . \n "
var prefixMap={"http://www.w3.org/2002/07/owl#":"owl", "http://www.opengis.net/ont/geosparql#":"geo" 
, "http://www.wikidata.org/entity/":"wd", "http://xmlns.com/foaf/0.1/":"foaf", "http://www.w3.org/1999/02/22-rdf-syntax-ns#":"rdf", 
"http://www.w3.org/XML/1998/namespace":"xml", "http://www.w3.org/2001/XMLSchema#":"xsd", "http://www.w3.org/2000/01/rdf-schema#":"rdfs" ,
 "http://www.xerleben.de/schema/2.0_1#":"xerl", "http://www.xplanung.de/xplangml/5/0#":"xplan5", "http://www.opengis.net/gml/3.2":"gml", "http://www.opengis.net/kml/2.2#":"kml" }; 
  $( function() {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#search" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        source: function( request, response ) {
          $.getJSON( "${server_base}search", {
            search: extractLast( request.term ),
            limit: 10
          }, response );
        },
        search: function() {
          // custom minLength
          var term = extractLast( this.value );
          if ( term.length < 2 ) {
            return false;
          }
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          window.location.href=ui.item.value
          return false;
        }
      });
  } );
  </script>
      <script type="text/javascript" src="${server_base}static/script.js"></script>
  </head>
  <body onLoad="init();">
    <div id="header">
        <h1 id="title">$title</h1>
#if ($project_name)
#if ($project_link)
        <div id="homelink">at <a href="$project_link" target="_blank">$project_name</a></div>
#else
        <div id="homelink">at <a href="$server_base" target="_blank">$project_name</a></div>
#end
#end
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  Endpoint: <select id="endpointselect" onclick="getClassHierarchy([])"><option value="$endpoint">$project_name</option><option value="https://www.dbpedia.org/sparql">$project_name</option></select><br/>
  GeoClasses: <input type="checkbox" id="geoclasses"/><br/>
  <div id="jstree"></div>
</div>
<div style="text-align:right">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
#if ($uri)
      <div class="page-resource-uri"><a href="$uri">$uri</a></div>
#end
#if ($rdf_link)
      <div id="rdficon"><b>powered by <a href="https://github.com/i3mainz/geopubby" title="GeoPubby" target="_blank">GeoPubby<img src="${server_base}static/geopubby_logo.png" alt="GeoPubby" /></a></b></div>
#end
    </div>
    <div class="search">
    Search: <input id="search" size="50">
    #if ($rdf_link)
<b>Download Options:</b>&nbsp;Format:<select id="format" onchange="changeDefLink()">	
      #if (!$geoms.isEmpty())
        <option value="covjson">CoverageJSON (COVJSON)</option>
        <option value="csv">Comma Separated Values (CSV)</option>
        <option value="esrijson">ESRIJSON</option>
        <option value="exijson">EXI4JSON</option>
        <option value="geojson">(Geo)JSON</option>
        <option value="geojsonld">GeoJSON-LD</option>
        <option value="gml">Geography Markup Language (GML)</option>
        <option value="geouri">GeoURI</option> 
        <option value="googlemapslink">Google Maps Link</option>
        <option value="gpx">GPS Exchange Format (GPX)</option>
        <option value="grass">GRASS Vector ASCII Format (GRASS)</option>
      	<option value="json">JSON-LD</option>
      	<option value="jsonp">JSONP</option>
       	<option value="hextuples">HexTuples RDF</option>
       	<option value="kml">Keyhole Markup Language (KML)</option>
    	<option value="latlontext">LatLonText</option>
        <option value="mapml">Map Markup Language (MapML)</option>
      	<option value="n3">Notation3 (N3)</option>
      	<option value="nq">NQuads (NQ)</option>
      	<option value="nt">NTriples (NT)</option>
        <option value="osmlink">OSM Link</option>
        <option value="osm">OSM/XML (OSM)</option>
      	<option value="rdfexi">RDF/EXI (EXI)</option>
      	<option value="rdfjson">RDF/JSON</option>
       	<option value="rt">RDF/Thrift (RT)</option>
      	<option value="xml">RDF/XML</option>
        <option value="svg">Scalable Vector Graphics (SVG)</option>
        <option value="topojson">TopoJSON</option>
        <option value="ttl">Turtle (TTL)</option>
      	<option value="trig">RDF TriG</option>
      	<option value="trix">Triples in XML (TriX)</option>
      	<option value="twkb">Tiny Well-Known-Binary (TWKB)</option>
        <option value="wkb">Well-Known-Binary (WKB)</option>
        <option value="wkt">Well-Known-Text (WKT)</option>
        <option value="ewkt">Extended Well-Known-Text (EWKT)</option>
        <option value="x3d">X3D Format (X3D)</option>
        <option value="xls">MS Excel (XLS)</option>
      	<option value="xlsx">Excel Spreadsheet (XLSX)</option>
        <option value="xyz">XYZ ASCII Format (XYZ)</option>
        <option value="yaml">YAML Ain't Markup Language (YAML)</option>
      #else
      	<option value="csv">Comma Separated Values (CSV)</option>
      	<option value="exijson">EXI4JSON</option>
      	<option value="geojson">(Geo)JSON</option>
      	<option value="json">JSON-LD</option>
      	<option value="jsonp">JSONP</option>
      	<option value="hextuples">HexTuples RDF</option>
      	<option value="n3">Notation3 (N3)</option>
      	<option value="nq">NQuads (NQ)</option>
      	<option value="nt">NTriples (NT)</option>
      	<option value="rdfexi">RDF/EXI (EXI)</option>
      	<option value="rdfjson">RDF/JSON</option>
      	<option value="rt">RDF/Thrift (RT)</option>
      	<option value="xml">RDF/XML</option>
      	<option value="ttl">Turtle (TTL)</option>
      	<option value="trig">RDF TriG</option>
      	<option value="trix">Triples in XML (TriX)</option>
      	<option value="xls">MS Excel (XLS)</option>
      	<option value="xlsx">Excel Spreadsheet (XLSX)</option>
      	<option value="yaml">YAML Ain't Markup Language (YAML)</option>
      #end	
</select>
<a id="formatlink" href="#" target="_blank"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg></a>&nbsp;
#if (!$geoms.isEmpty())
CRS:<select id="crs"></select>
#end
<button id="downloadButton" onclick="download()">Download</button><br/>
#end
    </div>
