#parse("header.vm")
<div class="row-fluid">
#if ($image)
    <div class="image">
    <img src="$image" style="max-width:500px;max-height:500px" alt="Depiction of $resource.label" title="Depiction of $title" />
    </div>
#end

#if (!$geoms.isEmpty())
<a name="geo"></a>
<h2>Geographic location</h2>
<div id="map" style="height:500px">
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
<script type="text/javascript">
var overlayMaps={}
var mymap = L.map('map',{fullscreenControl: true,fullscreenControlOptions: {position: 'topleft'}}).setView([51.505, -0.09], 13);
	var layer=L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	});
	var wmsLayer = L.tileLayer.wms('https://sgx.geodatenzentrum.de/wms_topplus_web_open', {
		layers: 'web',
		format: 'image/png',
 			transparent: true,
			attribution: '&copy; Bundesamt f&uuml;r Kartographie und Geod&auml;sie 2017, <a href="http://sg.geodatenzentrum.de/web_public/Datenquellen_TopPlus_Open.pdf">Datenquellen</a>'
		});
	var baseMaps = {
    "BKG": wmsLayer,
        "OSM": layer
	};
	baseMaps["BKG"].addTo(mymap);
	L.control.scale({
	position: 'bottomright',
	imperial: false
	}).addTo(mymap);
	layercontrol=L.control.layers(baseMaps,overlayMaps).addTo(mymap);
	#set($x = 0)
        #foreach($i in $geoms)
            #if($x == 0)
                ${i.toText}
                //map.setCenter(new OpenLayers.LonLat(${i.lng},${i.lat}).transform( fromProjection, toProjection ),10);
            #end
            ${i.toText}
            markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(${i.lng},${i.lat}).transform( fromProjection, toProjection)));
            #set($x = $x+1)
        #end
        /*map = new OpenLayers.Map('map',
                {
                    controls: [new OpenLayers.Control.Navigation(), new OpenLayers.Control.PanZoomBar(), new OpenLayers.Control.Attribution(),
                        new OpenLayers.Control.PanZoom(), new OpenLayers.Control.Permalink(), new OpenLayers.Control.Navigation() ],
                    numZoomLevels: 22//,
                }
        );
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        markers=new OpenLayers.Layer.Markers( "Markers" );
        map.addLayers([new OpenLayers.Layer.OSM(),markers]);
        #set($x = 0)
        #foreach($i in $geoms)
            #if($x == 0)
                map.setCenter(new OpenLayers.LonLat(${i.lng},${i.lat}).transform( fromProjection, toProjection ),10);
            #end
            markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(${i.lng},${i.lat}).transform( fromProjection, toProjection)));
            #set($x = $x+1)
        #end
        */
</script>
#end
</div>
#if ($comment)
    <p class="comment">$comment</p>
#end

#if (!$properties.isEmpty())
#parse("proptable.vm")
#else
    <p>No further information is available.</p>
#end

#if ($metadata)
<div class="row-fluid">
	<a name="meta"></a>
	<h2>Metadata</h2>
	<div id="metadata-tables">
	#parse("metadatatable.vm")
	</div>
	<a href="#meta" onclick="showAllMetadata('metadata-tables')">expand all</a>
</div>
#end



#parse("footer.vm")
