## Renders the name of a ResourceProperty, given in $property
<span class="property-name">
#if ($property.Inverse && !($showLabels && $property.InverseLabel))
  <small>Is</small>
#end
#if ($showLabels && $property.Inverse && $property.InverseLabel)
    #if ($value.BrowsableURL.toString().contains($server_base.toString()))
        <a class="uri" href="$property.BrowsableURL" title="$property.URI">$property.InverseLabel</a>
    #else
        <a class="uri" href="$property.BrowsableURL" title="$property.URI" target="_blank">$property.InverseLabel</a>
    #end
#elseif ($showLabels && $property.label)
    #if ($value.BrowsableURL.toString().contains($server_base.toString()))
        <a class="uri" href="$property.BrowsableURL" title="$property.URI">$property.label</a>
    #else
        <a class="uri" href="$property.BrowsableURL" title="$property.URI" target="_blank">$property.label</a>
    #end
#elseif ($property.hasPrefix())
    #if ($value.BrowsableURL.toString().contains($server_base.toString()))
        <a class="uri" href="$property.BrowsableURL" title="$property.URI"><small>$property.Prefix:</small>$property.LocalName</a>
    #else
        <a class="uri" href="$property.BrowsableURL" title="$property.URI" target="_blank"><small>$property.Prefix:</small>$property.LocalName</a>
    #end
#else
    #if ($value.BrowsableURL.toString().contains($server_base.toString()))
        <a class="uri" href="$property.BrowsableURL" title="$property.URI"><small>?:</small>$property.LocalName</a>
    #else
        <a class="uri" href="$property.BrowsableURL" title="$property.URI" target="_blank"><small>?:</small>$property.LocalName</a>
    #end
  
#end
#if ($property.Inverse && !($showLabels && $property.InverseLabel))
  <small>of</small>
#end
</span>
