#set ($has_text = false)
    <div id="footer">
     <div class="container">
#if ($rdf_link)
      <a href="$rdf_link?output=ttl">as Turtle</a> |
      <a href="$rdf_link?output=xml">as RDF/XML</a> |
      <a href="$rdf_link?output=json">as JSON-LD</a> |
      <a href="$rdf_link?output=trig">as TriG</a> |
      <a href="$rdf_link?output=trix">as TriX</a> |
      <a href="$rdf_link?output=geojson">as (Geo)JSON</a>
      #if (!$geoms.isEmpty())
        | <a href="$rdf_link?output=geouri">as GeoURI</a>
      	| <a href="$rdf_link?output=kml">as KML</a>
      	| <a href="$rdf_link?output=gml">as GML</a>
      #end
#end
</div>
    </div>
  </body>
</html>
